<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/MicroRTS_Synthesis/src/ai/ScriptsGenerator/Command/GameVisualSimulationTest.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ai.ScriptsGenerator.Command.GameVisualSimulationTest"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="MicroRTS_Synthesis"/>
</launchConfiguration>
